__pycache__/
.vscode/
deploy/
scripts/bak/
src/bak/
archive/*.xml
*.csv
filelist*
*.xls*
.runNumber
*_tmp
*.tmp
scratch_*
logfile*
*.doc*
*.ppt*
playground.*
*.log
*.out
*.rar
*.lnk
*.zip
*.7z
*.vsd
tasks.txt
run.txt
snippets.py
*build*.py
*.reject
*.pdf
build_and_deployment*
breakfastmenu.xml