__pycache__/
.vscode/
logs/
tgt/
scripts/
reject/
deploy/
filelist*
*.xls*
.runNumber
*_tmp
*.tmp
scratch_*
logfile*
*.btq.out
*.doc*
*.ppt*
*.xsd
playground.*
*.log
*.rar
*.lnk
*.zip
*.7z
*.vsd
tasks.txt
run.txt
snippets.py
*build*.py
*.reject
*.pdf
build_and_deployment*
*.xml